<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin menu</title>
</head>
<body>
    <h1>
        Створити:<br>
        <h2>
            <a href="/course/create">Курс</a>
        </h2>
    </h1>
    <h1>
        Редагувати:<br>
        <h2>
            Курси:
        </h2>
        {% for course in courses %}
        <h3>
            <a href="/course/update/{{ course.id }}">Курс {{ course.id }}({{ course }})</a>
        </h3>
        {% endfor %}
    </h1>
</body>
</html>