<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Delete course</title>
</head>
<body>
{% block content %}
<div class="confirm">
<h2>Ви впевнені, що хочете видалити «{{ course }}»?</h2>
<form method="post" class="mt-1">
{% csrf_token %}
<button type="submit" class="btn btn-primary">Видалити</button>
<a href="/admin-menu" class="btn-secondary">Скасувати</a>
</form>
</div>
{% endblock %}
</body>
</html>