<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Detail Task</title>
</head>
<body>
{% block content %}
<div class="bg-panel">
<h1>Назва: {{ task }}</h1>
<p class="text-muted">Опис: {{ task.description }}</p>

{% if request.user.role == 'Student' %}
<form method="post" class="mt-1">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-primary">Відповісти</button>
</form>
</div>
{% else %}
<div class="answers">
{% for answer in answers %}
<a href="/student/grade/{{ answer.id }}" class="answer-card">
<div class="answer-info">
<div class="answer-title">{{ answer.answer }}</div>
<div class="answer-username">{{ answer.user }}</div>
</div>
<div class="answer-grade">{{ answer.grade }}</div>
</a>
{% endfor %}
</div>
{% endif %}
{% endblock %}
</body>
</html>