<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Detail Task</title>
</head>
<body>
{% block content %}
<div class="bg-panel">
<div class="task-header" style="display: flex; justify-content: space-between; align-items: center;">
    <h1 style="margin: 0;">Назва: {{ task }}</h1>
{% if request.user.role == 'Student' %}
{% if user_grade.grade %}
    <span class="task-grade">Оцінка: {{ user_grade.grade }}</span>
{% else %}
    <span class="task-grade" style="color: red;">Не оцінено</span>
{% endif %}
{% endif %}
</div>
<p class="text-muted">Опис: {{ task.description }}</p>

{% if request.user.role == 'Student' %}
<form method="post" class="mt-1">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-primary">Відповісти</button>
</form>
</div>
{% else %}
<div class="answers">
{% for answer in answers %}
<a href="/student/grade/{{ answer.id }}" class="answer-card">
<div class="answer-info">
<div class="answer-title">{{ answer.answer }}</div>
<div class="answer-username">{{ answer.user }}</div>
</div>
{% if answer.grade == 0 %}
<div class="answer-grade" style="color: red;">Не оцінено</div>
{% else %}
<div class="answer-grade">{{ answer.grade }}</div>
{% endif %}
</a>
{% endfor %}
</div>
{% endif %}
{% endblock %}
</body>
</html>