<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Detail Lesson</title>
</head>
<body>
{% block content %}
<div class="bg-panel">
  <h1>Назва: {{ lesson }}</h1>
<div class="media-row">
  {% if lesson.image %}
    <div class="task-media">
      <p>Фотографія до уроку:</p>
      <img src="{{ lesson.image.url }}" alt="Зображення до завдання" class="task-img">
    </div>
  {% endif %}

  {% if lesson.video %}
    <div class="task-media">
      <p>Відео до уроку:</p>
      <video controls class="task-video">
        <source src="{{ lesson.video.url }}" type="video/mp4">
        Ваш браузер не підтримує відео.
      </video>
    </div>
  {% endif %}
</div>

  <h3 class="text-muted">Завдання</h3>

  <div class="course-list">
    {% for task in tasks %}
      <div class="task-card">
        <a href="/task/detail/{{ task.id }}">{{ task }}</a>
        
      </div>
    {% empty %}
      <div class="alert">Завдань немає</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
</body>
</html>