<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>
        Вітаю,{{ user.username }}!
    </h1>
    <h2>
        <a href="/profile/{{ user.id }}">Профіль</a>
    </h2>
    {% else %}
    <h1>
        Please, login to your account!
    </h1>
    <h2>
        <a href="/login">Логін</a>
    </h2>
    {% endif %}
    <h1>
    {% for course in courses %}
    <a href="/course/detail/{{ course.id }}">{{ course.name }}</a>
    {% endfor %}
    </h1>
</body>
</html>